@charset "UTF-8";

@font-face {
  font-family: "mg-solutions";
  src:url("../fonts/mg-solutions.eot");
  src:url("../fonts/mg-solutions.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mg-solutions.woff") format("woff"),
    url("../fonts/mg-solutions.ttf") format("truetype"),
    url("../fonts/mg-solutions.svg#mg-solutions") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mg-solutions" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mg-solutions" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\61";
}
