#carousel {
	width: 988px;
	margin: auto;
}
.bx-wrapper {
	.bx-viewport {
		background-color: transparent;
		border: none;
		box-shadow: none;
		margin-left: 5px;
		height: 198px !important;
	}

	.bx-caption {
		background-color: #245ca6;
		background-color: rgba(#245ca6, .75);
		color: white;
		font-family: Verdana, Arial, sans-serif;
		font-size: 22px;
		line-height: 25px;
		text-align: center;
		bottom: -45px;
	}

	.bx-controls-direction a {
		bottom: 6px;
		top: inherit;
	}

	.bx-prev {
		left: 20px;
		background: url(/images/icons/left-arrow-icon.png) no-repeat;
	}

	.bx-next {
		right: 25px;
		background: url(/images/icons/right-arrow-icon.png) no-repeat;	
	}

	.bx-next:hover {
		background-position: inherit;
	}
}
