@media (min-width: 1890px) {
	.header {
		background-image: url('/images/header-background/header-background-large.jpg');
		height: 450px;
		.bottom-header {
			top: 200px;
		}
	}

	.content {
    &:before {
      top: -110px;
    }
  }

  .thanks-content {
    .message {
      margin-top: 100px;
      border-radius: 0;
    }
  }
}